.cart {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  height: 40px;
  min-width: 100px;
  transition: all 0.3s;
}
.cart:hover {
  border: 1px solid white;
}
.cart a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 400px;

  padding: 15px;
  border: 1px solid rgb(226, 225, 225);
}
/* card image container */
.card-image {
  min-width: 100px;
  max-width: 150px;
  margin-bottom: 10px;
  flex: 1;
}
.card-image img {
  width: 100%;
}
/* card information */
.card-info {
  display: flex;
  flex-direction: column;
}
/* card name */
.card-name {
  font-size: clamp(1rem, 1.2rem, 2rem);
  flex: 1;
  margin-bottom: 5px;
}
/* rating container */
.rating-container {
  flex: 1;
  margin-bottom: 5px;
}
.rating-container img {
  width: 100px;
  height: auto;
  object-fit: contain;
}
/* price */
.price-container {
  flex: 1;
}
.price-container .price {
  font-weight: 800;
  font-size: clamp(10px, 1.3rem, 2rem);
  margin-bottom: 5px;
}
/* quantity container */
.quantity-container {
  flex: 1;
  margin-bottom: 10px;
}
.quantity-container input {
  padding: 3px;
  outline: none;
  font-size: 1rem;
}
.added-to-cart-message {
  opacity: 0;
  color: #218838;
  font-weight: 600;
}
.added-to-cart-message.active {
  opacity: 1;
}
/* add to cart */

.add-to-cart {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #28a745;
  color: white;
  transition: all 0.3s;
}
.add-to-cart:hover {
  cursor: pointer;
  background-color: #218838;
  box-shadow: 1px 3px 5px rgb(112, 112, 112);
}
.addedCart-message {
  min-height: 20px;
  display: block;
  color: green;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.addedCart-message.active {
  visibility: visible;
  opacity: 1;
}
