* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px 5px;
}
header a {
  color: white;
  text-decoration: none;
}
.name {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  transition: all 0.3s;
  height: 50px;
  min-width: 100px;
}
.name:hover {
  border: 1px solid white;
}
/* nav bar */
nav ul {
  display: flex;
  gap: 10px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  display: block;
  padding: 5px;
  transition: all 0.3s;
}
nav a:hover {
  background-color: rgb(108, 108, 108);
  border-radius: 8px;
}
.input-container {
  min-width: 200px;
  width: 400px;
}
.input-container input {
  width: 100%;
  padding: 10px 5px;
  outline: none;
  font-size: 1rem;
}

.cart {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  height: 40px;
  min-width: 100px;
  transition: all 0.3s;
}
.cart:hover {
  border: 1px solid white;
}
.cart a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
/* menu */
.menu {
  display: none;
}
.menu button {
  background: transparent;
  color: white;
}
@media screen and (max-width: 490px) {
  .menu {
    display: block;
  }
  .name {
    width: 100%;
    align-items: center;
  }
  .name:hover {
    border: none;
  }
  /* nav hidden */
  header nav,
  .input-container,
  .cart {
    display: none;
  }
  nav.active,
  .input-container.active,
  .cart.active {
    display: block;
  }
  header {
    flex-direction: column;
  }
  .input-container.active {
    width: 100%;
    padding: 5px;
  }
  .cart.active {
    display: flex;
    gap: 10px;
  }
  header.active {
    height: 100vh;
  }
  nav.active ul {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 500px) and (max-width: 790px) {
  .menu {
    display: block;
  }
  .name {
    width: 100%;
    align-items: center;
  }
  .name:hover {
    border: none;
  }
  /* nav hidden */
  header nav,
  .input-container,
  .cart {
    display: none;
  }
  nav.active,
  .input-container.active,
  .cart.active {
    display: block;
  }
  header {
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  .input-container.active {
    width: 100%;
    padding: 5px;
  }
  .cart.active {
    display: flex;
    gap: 10px;
  }

  nav.active ul {
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
}
